
*.iml
*.xml
*.cmake
*.bin
*.exe
*.check_cache
*.log
*.internal
*.make
*.manifest
*.obj
*.rc
*.rsp
*.res
*.includecache
*.pdb
Lab2_Min_Spanning_Three/cmake-build-debug/CMakeFiles/Makefile2
*.marks
*.txt
*.ilk
*.cbp
MinSpanningThree/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
MinSpanningThree/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
MinSpanningThree/cmake-build-debug/CMakeFiles/Makefile2
MinSpanningThree/cmake-build-debug/Makefile
*.txt
*.user
Lab2_Min_Spanning_Three/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
Lab2_Min_Spanning_Three/cmake-build-debug/Makefile
MinSpanningThree/CMakeLists.txt
MinSpanningThree/CMakeLists.txt
